<ion-header></ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/crear_usuario"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 24px; color: #00274d;">Crear Usuario Paciente</ion-title>
  </ion-toolbar>


<ion-content class="ion-padding" style="background-color: #f8f9fa;">
  
  <!-- Formulario de Crear Usuario Paciente -->
  <form class="form-container" style="margin-top: 20px;">
    
    <!-- Tipo de Lesión -->
    <ion-item lines="none" style="background-color: white; border-radius: 10px; margin-bottom: 15px;">
      <ion-label position="floating" style="font-size: 18px; color: #00274d;">Tipo de Lesión</ion-label>
      <ion-input type="text" placeholder="Describe la lesión" required style="font-size: 16px; color: #00274d;"></ion-input>
    </ion-item>

    <!-- Tiempo que lleva lesionado -->
    <ion-item lines="none" style="background-color: white; border-radius: 10px; margin-bottom: 15px;">
      <ion-label position="floating" style="font-size: 18px; color: #00274d;">Tiempo que lleva lesionado</ion-label>
      <ion-input type="text" placeholder="Especifica el tiempo" required style="font-size: 16px; color: #00274d;"></ion-input>
    </ion-item>

    <!-- Ha acudido a alguna ayuda -->
    <ion-item lines="none" style="background-color: white; border-radius: 10px; margin-bottom: 15px;">
      <ion-label position="floating" style="font-size: 18px; color: #00274d;">Ha acudido a alguna ayuda</ion-label>
      <ion-select placeholder="Seleccionar opción" style="font-size: 16px; color: #00274d;">
        <ion-select-option value="si" style="font-size: 16px; color: #00274d;">Sí</ion-select-option>
        <ion-select-option value="no" style="font-size: 16px; color: #00274d;">No</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Botón Crear -->
    <ion-button expand="block" style="background-color: #004085; color: white; margin-top: 40px; border-radius: 10px; font-size: 18px;">
      Crear
    </ion-button>

  </form>
</ion-content>
